<div class="row my-5 d-flex justify-content-between">

    <div class="col-3 right-section">
        <div class="row">
            <h1>Call Us</h1>
            <p>Phone: +201204646310</p>
            <p>E-mail: {{'youssefmehesen247@gmail.com'}}</p>
        </div>
        <div class="row">
            <h1>Write to Us</h1>
            <p>Fill out our the form and we will contact you within 24 hours</p>
        </div>
    </div>
    <div class="col-8">

        <app-mk-submit-form [fields]="fields"></app-mk-submit-form>

    </div>
</div>