<div class="row my-5">
    <div class="col-6">
        <div class="img-wrapper">
            <img [src]=signup alt>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-start align-items-center">
        <div class="signup-right">

            <h2>Log in to Exclusive</h2>
            <p>Enter your details below</p>

            <input type="text" class="form-control"
                placeholder="Email or Phone Number">
            <input type="password" class="form-control" placeholder="Password">
            <div class="d-flex justify-content-between w-100">
                <app-mk-btn [btnText]="'Log In'"></app-mk-btn> <p>Forget
                    Password?</p>
            </div>

        </div>
    </div>
</div>