
.pop-up {
    background-color: var(--white);
    padding: 3%;
    border-radius: 10px;
    z-index: 1001; /* Ensure it's above the backdrop */
    position: absolute;
    width: 50vw; /* Responsive max width */
    height: 60vh; /* Responsive max height */
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    margin-top: 10px;
    border: 1px solid var(--hvr2);    
    display: sticky;
  }

  h2{
    display: flex;
    justify-content: center;
}


.search-item{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--bg);
    border-radius: 8px;
    
}

.search-item img{
    width: 40px;
    height:  40px;
    border-radius: 50px;
}
.search-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.search-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .search-wrapper {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }

  .search-wrapper{
    overflow-y: scroll;
    height: 90%;
  }