
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding:8px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    font-weight: 600;
}

/*  */
.active{
    background-color: var(--secondary) ;
    color: var(--bg);
    border:0;
}
.inactive{
    background-color: var(--bg);
    color: var(--black);
}